<h1 class="title">Entry Index</h1>

<table>
  <thead> 
    <tr>
      <th>Title </th>
      <th>Content </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.content %></td>
        
        <%#<td><%= link_to "Show", show_list_entry(entry) %></td>
        <%#<td><%= link_to "Edit", edit_entry_path(entry) %></td>
        <%#<td><%= link_to "Delete", list_entry, method: :delete, data: { confirm: "Are you sure?" } %></td>

      </tr>
    <% end %>
  </tbody>
</table>
<br>
